<!-- templates/profile.html -->

{% extends "base.html" %}
{% block content %}
<div class="tile">
  <h1 class="title is-1">About</h1>
</div>
<br>
<div class="content is-medium">
  <p>
    The digital revolution and globalization, even with all the benefits that they allow us to enjoy, also present new challenges: new ways of communicating, new manners of cultural transmission, new culture consumption habits, and the costs associated with it.</p>

  <p>The book is probably one of those classical ways through which people have transmitted their culture over thousands of years. With this in mind, this project aims to collaborate in the rescue of the book as an invaluable piece of cultural diffusion, and taking advantage of the benefits of the new technologies of the 21st century.</p>

    <p>ReadIT, an expression that seeks to encourage reading but also conveys its belonging to the booming technology and information (IT) industry, constitutes a platform that aims to facilitate cultural access through the implementation of a second-hand books network, also contributing to sustainable consumption and spreading community values, with the shared reading as a factor of union between people.</p>

  <p>We invite you to share your books and take those ones you are interested in!
  </p>
</div>
<br>
<br>
<div class="columns">
  <div class=" column is-4">
    <h4 class="title is-4">From us to the community</h4>
    <h6 class="subtitle is-6">
      Holberton School final project</br>
      Montevideo-Uruguay, 2021
    </h6>
  </div>

  <div class="column is-2">
    <figure class="image is-96x96">
      <img class="is-rounded" src="../static/images/lucianaProfile.png">
    </figure>
  </div>
  <div class="column is-2">
    <figure class="image is-96x96">
      <img class="is-rounded" src="../static/images/nicolasProfile.png">
    </figure>
  </div>
  <div class="column is-2">
    <figure class="image is-96x96">
      <img class="is-rounded" src="../static/images/robertoProfile.png">
    </figure>
  </div>
    <div class="column is-2">
    <figure class="image is-96x96">
      <img class="is-rounded" src="../static/images/sebastianProfile.png">
    </figure>
  </div>
</div>
{% endblock %}
