<!-- templates/availableBooks.html -->

{% extends "base.html" %}
{% block content %}

<div class="columns">
  <h1 class="title">{{ Title.Title }}</h1>
</div>
</br>

<div class="column">
  <h5 class="title is-5">Click on request buttom to get this book!</h5>
  </br>
    </br>
  {% for user in users %}
  <div class="columns has-text-centered">
    <div class="column">
      <h5 class="title is-5">{{ user.FirstName }}</h5>
      <h6 class="title is-6">Mail</h6>
      <h6 class="title is-6">{{ user.City }}</h6>
    </div>
    <div class="column has-text-centered">
      <form method="POST" action="/profile/{{user.IdUser}}/{{Title.IdBook}}">
	<button class="button is-block is-info is-medium">request</button>
      </form>
    </div>
  </div>
  </br>
  {% endfor %}
</div>
{% endblock %}
