<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/images/favicon.png">
    <title>readIT - "spread the culture"</title>
    <link rel= "stylesheet" type= "text/css" href= "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.css">
    <!-- carousel -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <script src="../static/scripts/index2.js"></script>
    <!-- carousel-end -->
  </head>
  <body>
    <section class="hero is-link is-fullheight">
      <div class="hero-head">
	<nav class="navbar">
	  <div class="container">
	    <div class="navbar-brand">
	      <a class="navbar-item" href="../index">
		<img src="../static/images/LogoSmallHeader.png" alt="readIT logo">
	      </a>
	      <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
	      </a>
	    </div>
	    
	    <div id="navbarMenuHero" class="navbar-menu">
	      <div class="navbar-end">
		<a id="1" href="{{ url_for('main.index') }}" class="navbar-item">
		  Home
		</a>
		<a id="2" href="{{ url_for('main.books') }}" class="navbar-item">
		  Books
		</a>
		<a href="{{ url_for('main.about') }}" class="navbar-item">
		  About
		</a>
		{% if current_user.is_authenticated %}
		<div class="navbar-item has-dropdown is-hoverable has-background-link">
		  <a class="navbar-link is-primary has-background-link" href="{{ url_for('main.profile') }}">
		    Profile
		  </a>
		  <div class="navbar-dropdown has-background-link is-boxed">
		    {% if current_user.requested %}
		    <a class="navbar-item is-primary" href="{{ url_for('main.requested') }}">
		      New Request
		    </a>
		    {% endif %}
		    <a class="navbar-item is-primary" href="{{ url_for('main.postBook') }}">
		      Add book
		    </a>
		    <a href="{{ url_for('auth.logout') }}" class="navbar-item is-primary">
		      Logout
		    </a>
		  </div>
		</div>
		{% endif %}
	      </div>
	      {% if not current_user.is_authenticated %}
	      <a href="{{ url_for('auth.login') }}" class="navbar-item">
		Login
	      </a>
	      <a href="{{ url_for('auth.signup') }}" class="navbar-item">
		Sign Up
	      </a>
	      {% endif %}
	    </div>
	  </div>
	  <script src="../static/scripts/index.js"></script>
	</nav>
      </div>
      <div class="hero-body">
	<div class="container">
	  {% block content %}
	  {% endblock %}
	</div>
      </div>
      <footer class="hero-footer is-link">
	<div class="container">
	  <div class="content has-text-right ">
	    <p class="px-1">
	      <hr>
	      <strong>readIT - "Spread the culture"</strong><br>
	      Holberton School - Montevideo Cohort #13
	    </p>
	    </br>
	  </div>
	</div>
      </footer>
    </section>
  </body>
</html>
