<!-- templates/books.html -->

{% extends "base.html" %}
{% block content %}
<h3 class="title has-text-centered">Books</h3>
{% for row in books|batch(3) %}
<section class="section">
  <div class="columns has-text-centered">
    {% for book in row %}
    <div class="column is-one-third has-text-centered">
      <div class="title_box">
      <a href="http://35.196.233.214/idbook/{{book.IdBook}}">
	<figure class="image is-128x128 is-inline-block">
	  <img style="border-radius:2%" src={{ book.Cover }}>
	</figure>
      </a>
      <div class="column">
      </div>
      <div class="column">
      </div>
      <div class="column">
      </div>
      </br>
      <p>
	<b>"{{ book.Title }}"</b>
	</br>
	by {{ book.Authors }}
      </p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endfor %}
{% endblock %}

