<!-- templates/idBook.html -->
{% extends "base.html" %}

{% block content %}
<div class="columns">
  <div class="column is-one-third">
    <p class="title is-1">{{ book.Title }}</p>
    <p class="subtitle is-3">{{ book.Authors }}</p>
    <p>ISBN: {{ book.ISBN }}</p>
  </div>
  <div class="column"></div>
  <div class="column"></div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <img src={{ book.Cover }}>
  </div>
  <div class="column is-two-thirds">
      {{ book.Description }}
  </div>
</div>
<form method="get" action="http://35.196.233.214/available_books/{{book.Title}}">
  <button class="button is-block is-info is-large is-fullwidth">Select</button>
</form>
{% endblock %}
