<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<div class="column has-text-centered">
<h1 class="title">Welcome to readIT!</h1>
<h2 class="subtitle">The first online community for sharing books.</h2>
</br>
</br>
</div>
<div class="columns">
  <div class="column is-two-fifths">
    <img src="../static/images/shareIt.png">
  </div>
  <div class="column">
    <h4 class="title is-4">Share it</h4>
    <div class="content is-medium">
      <p>
	Join our adventure of sharing culture and entertainment and enjoy meeting people with your same interests.
	Give your books a second life in the hands of those who need them.
      </p>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <h4 class="title is-4">Take it</h4>
    <div class="content is-medium">
      <p>
	Reading has that magic that sets us free. It feeds our curiosity and makes us learn. Be part of this community.
	There is a book for you.
      </p>
    </div>
  </div>
  <div class="column is-two-fifths">
    <img src="../static/images/takeIt.png">
  </div>
</div>
{% endblock %}
